/* ================================================================================================================ */
/* BEGIN - LAYER BASE DEFINITIES 																					*/
/*																													*/
/* 18-08-2025 LAYER BASE                                                                                            */
/*		layer base is de basis layer waarin de structuur van de site wordt gedefinieerd								*/
/* ================================================================================================================ */

	/* voor test doeleinden */
	#centerBarLeft, #centerBarMiddle, #centerBarRight, #topLineWrapper, #topMenuFlexWrapper 
	{
		outline: 1px solid red;
	}      

/*** BEGIN *** CSS MAIN-WRAPPER, HEADER-WRAPPER, FOOTER-WRAPPER *****************************************************/
	#main-wrapper,
	#header-wrapper,
	#footer-wrapper 
	{
		width: 100%;
	}
/*** END *** CSS MAIN-WRAPPER, HEADER-WRAPPER, FOOTER-WRAPPER *******************************************************/

/*** BEGIN *** CSS topLineWrapper, topLineLeft, topLineRight, topLineMiddle *****************************************/
/*																													*/
/* 26-08-2025																										*/
/*		 omgezet naar flexbox            																			*/
/*			in tegenstelling tot topContainerWrapper hier justify-content: space-between							*/
/*																													*/
/********************************************************************************************************************/
		/* TEST DOELEINDEN */
		#topLineWrapper
		{
			background: navy;
	}

	#topLineWrapper
	{
		display: flex;
		justify-content: space-between; /* verdeelt items over de breedte, houdt ruimte tussen de blokken */
		align-items: center; /* hoe worden items verticaal uitgelijnd als je flex-direction: row gebruikt */
/*		width: 100%; niet nodig al aanwezig in de class header-wrapper */
	}
/*** END *** CSS topLineWrapper, topLineLeft, topLineRight, topLineMiddle *******************************************/

/*** BEGIN *** CSS topContainerWrapper, topContainerLeft, topContainerRight *****************************************/
/*																													*/
/* 26-08-2025																										*/
/*		header-wrapper vervangen door container-wrapper																*/
/*		topContainerLeft en topContainerRight opgezet als flex														*/
/*																													*/
/********************************************************************************************************************/ 
	/* === voor test doeleinden === */
	#topContainerLeft,
	#topContainerRight
	{
/*		background-color: yellow;*/
		border-color: green;
		border-style: solid;
	}

	/* === let op: dit gaan we misschien vervangen door flex-container class === */
	/*** topContainerWrapper ***/
    #topContainerWrapper
	{
        /* === voor test doeleinden === */
        background-color: blue;

		border-color: green;
		border-top-style: dashed;
		border-width: 2px;

        display: flex;
		justify-content: flex-start; /* items komen naast elkaar, geen extra ruimte tussen */
		align-items: center; /* hoe worden items verticaal uitgelijnd als je flex-direction: row gebruikt */
	}

	/*** topContainerLeft ***/
	#topContainerLeft
	{ 
		flex-grow: 0; /* element mag NIET groeien om extra ruimte op te vullen */
		flex-shrink: 1; /* mag beperkt krimpen */
		flex-basis: auto; /* breedte gebaseerd op inhoud */
		white-space: nowrap;  /* voorkomt afbreken van logo/tekst */
	} 

	/*** topContainerRight ***/
	#topContainerRight
	{ 
		flex-grow: 1; /* element mag groeien om beschikbare ruimte op te vullen */
		flex-shrink: 1; /* krimp als het nodig is */
		flex-basis: 0; /* start met 0 breedte */
		min-width: 0; /* mag krimpen, tot nul pixels breed als dat nodig is — zelfs als je inhoud breder is */
		white-space: nowrap; /* voorkomt afbreken naar nieuwe regel */
	} 

/*** END *** CSS topContainerLeft, topContainerRight ****************************************************************/

